body{
    text-align: center;
    align-items: center;
    margin-top: 300px;
}

.btn1{
    padding: 50px;
    border-radius: 40px;
    border: 5px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 20px;
    color: black;
    font-weight: bold;
    margin-top: 100px;
    padding: 75px;
}

.btn1:hover{
    cursor: pointer;
}

h1{
    font-size: 48px;
}

