* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f7f7f7;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 24px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.logoutBtn {
    padding: 5px 30px;
    border-radius: 50px;
}

.logoutBtn:hover {
    background-color: #d5d4d4;
}

.profile-icon {
    font-size: 24px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.navBar a {
    color: #000;
    flex: 1;
    padding: 10px 20px;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
}

.navBar a:hover {
    background-color: #eaeaea;
    border-color: black;
    color: red;
    text-decoration: underline;
}

.back-button {
    display: inline-block;
    margin: 10px 0;
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.back-button:hover {
    text-decoration: underline;
    color: red;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.searchTxt {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-container button {
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #ddd;
    border-radius: 0 4px 4px 0;
}

.tableDiv {
    margin: 10px 25px 0px 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    border: 1px solid;
    border-color: rgb(177, 177, 177);
    background-color: #e0e0e0;
    padding: 30px;
    text-align: center;
}

tbody td {
    border: 1px solid;
    border-color: rgb(177, 177, 177);
    padding: 30px;
    text-align: center;
    border-top: 1px solid #ccc;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.tableBtn {
    color: #000;
    text-decoration: underline;
}

td a:hover {
    text-decoration: underline;
    color: red;
}