* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 24px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.logoutBtn {
    padding: 5px 30px;
    border-radius: 50px;
}

.logoutBtn:hover {
    background-color: #d5d4d4;
}

.profile-icon {
    font-size: 24px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.navBar a {
    color: #000;
    flex: 1;
    padding: 10px 20px;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
}

.navBar a:hover {
    background-color: #eaeaea;
    border-color: black;
    color: red;
    text-decoration: underline;
}

.backBtn {
    display: inline-block;
    margin: 10px 0;
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.backBtn:hover {
    text-decoration: underline;
    color: red;
}

.content-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.list-item {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
}

.list-item h2 {
    margin-bottom: 30px;
}


.image-placeholder {
    width: 100%;
    height: 200px;
    background-color: #e0e0e0;
    border-radius: 8px;
}

.list-item form label {
    display: block;
    margin: 10px 0 15px;
    font-weight: bold;
    font-size: 20px;
}

.list-item form input[type="text"],
.list-item form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 25px;
    font-size: 20px;
}

.list-item form textarea {
    resize: vertical;
    height: 280px;
}

.createBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ddd;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.createBtn:hover {
    background-color: #ccc;
}